/* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Selectors */
/* == [THEMES] =============================================== */
:root {
  --bg-main: #f0f0f0;
  --text-primary: #111111;
  --text-secondary: #434343;
  --border-color: #d1d1d1;
  --accent: #3066fd;
}

[data-theme="dark"] {
  --bg-main: #121212;
  --text-primary: #eceef0;
  --text-secondary: #c5c5c5;
  --border-color: #333639;
  --accent: #9e61ff;
}

/* == [RESET] ================================================ */
* {
  margin: 6px 0 0 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  min-height: 100vh;
  padding-bottom: 4rem;
  line-height: 1.6;
  background-image: radial-gradient(var(--border-color) 1.2px, transparent 1.2px);
  background-size: 28px 28px;
  background-attachment: fixed;
}

h1, h2, h3 {
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}